@layer components {
  .section {
    width: min(100%, calc(var(--maxWidthXL) + (var(--spaceOuter) * 2)));
    margin-inline: auto;
    padding-inline: var(--spaceOuter);

    &:focus {
      outline: none;
    }

    @media (--mediaTablet) {
      padding-inline: var(--spaceL);
    }

    @media (max-width: 430px) {
      padding-inline: clamp(16px, 5.2vw, 24px);
    }
  }
}
